body {
  /* 激活的背景色 */
  --active-color-bg: rgba(var(--interactive-accent-rgb), 0.4);
  /* 激活的边框色 */
  --active-color-border: var(--text-accent);
}

/* ====== 鼠标经过时缩小 ====== */
.modal .checkbox-container:hover::after {
  height: 0.6rem;
}
/* ============= */

/* ====== 长按时拉伸 ====== */
.modal .checkbox-container:active::after {
  width: calc(100% - var(--toggle-border-width) * 6);
}
.modal .checkbox-container.is-enabled:active::after {
  left: calc(2 * var(--toggle-border-width));
}
/* ============= */

.modal .checkbox-container {
  --toggle-radius: var(--radius-m);
  height: 1rem;
  transition: var(--anim-duration-moderate);
  border: var(--size-2-1) solid var(--text-faint);
  background-color: var(--color-base-20);
  cursor: pointer;
}

.modal .checkbox-container::before {
  height: var(--toggle-border-width);
  left: calc(var(--toggle-border-width) * 2);
  right: calc(var(--toggle-border-width) * 2);
  opacity: 1;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  background-color: var(--text-faint);
}

.modal .checkbox-container::after {
  left: var(--toggle-border-width);
  height: 0.8rem;
  bottom: 50%;
  border-radius: var(--radius-m) var(--radius-m) 0 0;
  border: var(--toggle-border-width) solid var(--text-faint);
  border-bottom-width: calc(var(--toggle-border-width) / 2);
  background-color: var(--text-on-accent);
  width: 20%;
  margin: 0;
  transition: var(--anim-duration-moderate);
}

.modal .checkbox-container.is-enabled {
  border-color: var(--active-color-border);
  background-color: var(--active-color-bg);
}

.modal .checkbox-container.is-enabled::before {
  background-color: var(--active-color-border);
}

.modal .checkbox-container.is-enabled::after {
  border-color: var(--active-color-border);
  transform: none;
  left: calc(80% - var(--toggle-border-width) * 4);
}

.modal .checkbox-container input[type=checkbox] {
  display: none;
}